html, body {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
	user-select: none;
	height: 100%;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background-color: #e3e3e3;
}
*::-webkit-scrollbar-thumb {
	background-color: #919191;
}
.container {
	min-height: 100%;
}
h1 {
	font-weight: 400;
    margin: 0px;
	padding: 10px 20px;	
}
h2 {
    font-weight: 400;
    margin: 0px 10px;
	padding-bottom: 5px;
}
header {
	/* position: fixed; */
}
.content {
	padding: 0px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	min-height: 100%;
}
.note {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 7px;
	box-sizing: border-box;
	/* cursor: pointer; */
	max-height: 400px;
	overflow-y: hidden;
	padding: 0px 10px;
	margin: 10px;
	width: 250px;
}
.note:hover {
	overflow-y: auto;
}
.note-hover {
	box-shadow: 0px 0px 0.25rem #d3d3d3;
}
.note-drag {
	box-shadow: 0px 0px 1rem #919191;
	/* border-color: #1978d2; */
}
.note::-webkit-scrollbar-track {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.note::-webkit-scrollbar-thumb {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.note-title {
	font-weight: 500;
	margin: 10px 0px;
	border-bottom: 1px solid transparent;	
}
.note-title:focus {
	outline-width: 0px;
	border-bottom: 1px solid #1978d2;
}
.todo {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
}
.checked {
	padding-top: 5px;
}
.todo-point, .checked-point {
	display: flex;
	align-items: baseline;
	margin: 5px 10px;
}
.todo-point > div:nth-child(2), .checked-point > div:nth-child(2) {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;	
	margin: 0px 0.5rem;
	flex-grow: 1;
}
dialog .todo-point, dialog .checked-point {
	margin-top: 0px;
	margin-bottom: 0px;
}
dialog .todo-point > div:nth-child(2), dialog .checked-point > div:nth-child(2) {
	padding: 3px 0px;
}
.todo-point > div:nth-child(2):focus, .checked-point > div:nth-child(2):focus {
	outline-width: 0px;
	border-top: 1px solid #1978d2;
	border-bottom: 1px solid #1978d2;
}
.todo-point input, .checked-point input {
	margin: 0px;
}

.checked-point div:nth-child(2) {
	color: #919191;
	text-decoration: line-through;
}
.remove-point {
	opacity: 0;
	background-color: transparent;
    border-radius: 50%;
	border-width: 0px;
    line-height: 1.1;
	font-size: 1.5rem;
	font-weight: 400;
    text-align: center;
	padding: 0px;
    height: 25px;
    width: 25px;
}
.todo-point:hover .remove-point, .checked-point:hover .remove-point {
	opacity: 1;
	background-color: #e3e3e3;
	cursor: pointer;
}
.button {
	box-sizing: content-box;
	color: #0075ff;
	background-color: #ffffff;
	font-size: 1rem;
	border: 1px solid #0075ff;
	line-height: 1.5rem;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
	margin: 5px 0px;
	cursor: pointer;
	transition: all 0.5s;
}
.button-circle {
	border-radius: 50%;
	height: 8rem;
	width: 8rem;
	font-size: 8.0rem;
	padding: 0;
	position: fixed;
}
.button-circle-add {
	bottom: 1.5rem;
	right: 1.5rem;
}
.button-circle-add:focus {
	outline-width: 0px;
}
dialog {
	width: 600px;
	border: 1px solid #1978d2;
	border-radius: 7px;
	max-height: calc(100% - 150px);
	padding: 0px;
	overflow-y: auto;
}
dialog > div {
	padding: 16px;
	padding-bottom: 0px;	
}
dialog::-webkit-scrollbar-track {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
dialog::-webkit-scrollbar-thumb {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#dialog-NoteTitle-Placeholder {
	color: #ababab;
	font-size: 1.5rem;
	position: absolute;
}
#dialog-NoteTitle {
	margin-top: 0px;
	font-size: 1.5rem;
	font-weight: 400;
	position: relative;
}
#dialog-NewPoint {
	margin: 5px 0px; 
}
.dialog-NewPoint-Plus {
	font-size: 1.75rem;
	font-weight: 200;
	float: left;
	line-height: 1;
}
#dialog-NewPoint-Text-Placeholder {
	color: #ababab;
	margin-left: 31px;
	padding: 5px 0px;
	position: absolute;
}
#dialog-NewPoint-Text {
	position: relative;
	margin-left: 31px;
	padding: 5px 0px;
	border: 1px solid transparent;
}
#dialog-NewPoint-Text:focus {
	outline-width: 0px;
	border-top: 1px solid #1978d2;
	border-bottom: 1px solid #1978d2;
}
.dialog-NoteFotter {
	background-color: #ffffff;
	position: sticky;
	bottom: 0px;
	padding: 1rem;
}
.dialog-NoteFotter > div:nth-child(1) {
	display: flex;
	justify-content: space-between;
}
#color-picker {
	border: 1px solid #e3e3e3;
	border-radius: 7px;
	margin: 5px auto;
	height: 37px;
	background-color: #ffffff;
	text-align: center;
}
.color-picker-hidden {
	display: none;
}
#color-picker > div {
	border: 1px solid #e3e3e3;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	margin: 5px 0px 5px 5px;
	display: inline-block;
}
#color-picker > div:last-child {
	margin-right: 5px;
}
#color-picker > div:after {
	content: attr(alt);
	position: absolute;
	padding: 2px 10px;
	border-radius: 7px;
	background: #919191;
	opacity: 0.8;
	color: #ffffff;
	text-align: center;
	display: none;
	width: max-content;
}
#color-picker > div:nth-child(-n+16):after {
	transform: translate(calc(-100% + 40px), 27px);
}
#color-picker > div:nth-child(-n+8):after {
	transform: translate(-13px, 27px);
}
#color-picker > div:hover:after {
	display: block;
}
#color-picker > div:hover {
	border-color: #0075ff;
}
.none {
	background-color: #FFFFFF;
}
.FED6BC {
	background-color: #FED6BC;
}
.FFFADD {
	background-color: #FFFADD;
}
.DEF7FE {
	background-color: #DEF7FE;
}
.E7ECFF {
	background-color: #E7ECFF;
}
.C3FBD8 {
	background-color: #C3FBD8;
}
.FDEED9 {
	background-color: #FDEED9;
}
.DFF9E5 {
	background-color: #DFF9E5;
}
.B5F2EA {
	background-color: #B5F2EA;
}
.C6D8FF {
	background-color: #C6D8FF;
}
.FFDEAD {
	background-color: #FFDEAD;
}
.FAE7B5 {
	background-color: #FAE7B5;
}
.FFC1CC {
	background-color: #FFC1CC;
}
.FFF0F5 {
	background-color: #FFF0F5;
}
.A8E4A0 {
	background-color: #A8E4A0;
}