html, body {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
	user-select: none;
	height: 100%;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background-color: #e3e3e3;
}
*::-webkit-scrollbar-thumb {
	background-color: #919191;
}
.container {
	min-height: 100%;
}
h1 {
	font-weight: 400;
    margin: 0px;
	padding: 10px 20px;	
}
h2 {
    font-weight: 400;
    margin: 0px 10px;
	padding-bottom: 5px;
}
header {
	/* position: fixed; */
}
.content {
	padding: 0px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	min-height: 100%;
}
.note {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 7px;
	box-sizing: border-box;
	/* cursor: pointer; */
	max-height: 400px;
	overflow-y: hidden;
	padding: 0px 10px;
	margin: 10px;
	width: 250px;
}
.note:hover {
	overflow-y: auto;
}
.note-hover {
	box-shadow: 0px 0px 0.25rem #d3d3d3;
}
.note-drag {
	box-shadow: 0px 0px 1rem #919191;
	/* border-color: #1978d2; */
}
.note::-webkit-scrollbar-track {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.note::-webkit-scrollbar-thumb {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.note-title {
	font-weight: 500;
	margin: 10px 0px;
	border-bottom: 1px solid transparent;	
}
.note-title:focus {
	outline-width: 0px;
	border-bottom: 1px solid #1978d2;
}
.todo {
	border-bottom: 1px solid #e3e3e3;
}
.todo-point, .checked-point {
	display: flex;
	align-items: flex-start;
	margin: 5px 10px;
}
.todo-point > div:nth-child(2), .checked-point > div:nth-child(2) {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;	
	margin: 0px 0.5rem;
	flex-grow: 1;
}
.todo-point > div:nth-child(2):focus, .checked-point > div:nth-child(2):focus {
	outline-width: 0px;
	border-top: 1px solid #1978d2;
	border-bottom: 1px solid #1978d2;
}
.todo-point input, .checked-point input {
	margin: 0px;
}

.checked-point div:nth-child(2) {
	color: #919191;
	text-decoration: line-through;
}
.remove-point {
	opacity: 0;
	background-color: transparent;
    border-radius: 50%;
	border-width: 0px;
    line-height: 1.1;
	font-size: 1.5rem;
	font-weight: 400;
    text-align: center;
	padding: 0px;
    height: 25px;
    width: 25px;
}
.remove-point:hover {
	opacity: 1;
	background-color: #e3e3e3;
	cursor: pointer;
}
.button {
	box-sizing: content-box;
	color: #0075ff;
	background-color: #ffffff;
	font-size: 1rem;
	border: 1px solid #0075ff;
	line-height: 1.5rem;
	box-shadow: 0.25rem 0.25rem 0.25rem #d3d3d3;
	margin: 5px 0px;
	cursor: pointer;
	transition: all 0.5s;
}
.button-circle {
	border-radius: 50%;
	height: 8rem;
	width: 8rem;
	font-size: 8.0rem;
	padding: 0;
	position: fixed;
}
.button-circle-add {
	bottom: 1.5rem;
	right: 1.5rem;
}
dialog {
	width: 600px;
	border: 1px solid #1978d2;
	border-radius: 7px;
	max-height: 90%;
	padding: 16px;
	overflow-y: auto;
	padding-bottom: 0px;
}
dialog::-webkit-scrollbar-track {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
dialog::-webkit-scrollbar-thumb {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
dialog .note-title {
	margin-top: 0px;
	font-size: 1.5rem;
	font-weight: 400;
	/* transform: translateY(-30px); */
	position: relative;
	top: 0px;
}
#dialog-NoteTitle-Placeholder {
	font-size: 1.5rem;
}
#dialog-NewPoint {
	margin: 5px 0px; 
}
.dialog-NewPoint-Plus {
	font-size: 1.75rem;
	font-weight: 200;
	float: left;
	line-height: 1;
}
#dialog-NewPoint-Text {
	margin-left: 31px;
	padding: 5px 0px;
	border: 1px solid transparent;
}
#dialog-NewPoint-Text:focus {
	outline-width: 0px;
	border-top: 1px solid #1978d2;
	border-bottom: 1px solid #1978d2;
}
.dialog-NoteFotter {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	position: sticky;
	bottom: 0px;
	padding: 1rem 0rem;
}
